@charset "utf-8";
/** 框架效果 **/
	.logo{ float:left; width:320px; height:50px; }
	.topmenubar{width:97%; height:30px; margin:auto;margin-top:10px;background:#CCCCCC;padding-top:10px;border-right:solid 1px #cccccc;border-left:solid 1px #cccccc;border-top:solid 1px #cccccc;}
	.topa{height:30px;line-height:30px;font-size:14px;display:block; float:left; margin-left:3px; padding:0px 8px; background:#eeeeee; border-right:solid 1px #000000}
	.topa:hover{ background:#fff; color:#000}
	.topa_hover{ background:#fff; color:#000;font-weight:bolder;}
	.topbody{ background:#1693D6}
	.fasts{ position:absolute; right:10px; top:5px; color:#fff}
	.fasts:hover{text-decoration:underline}
/* CSS Document */
img {
	border: none;maring:0px;padding:0px;
}

A:link {
	COLOR: #004779;
	TEXT-DECORATION: none;
}

A:visited {
	COLOR: #004779;
	TEXT-DECORATION: none;
}

A:active {
	COLOR: #004779;
	TEXT-DECORATION: none;
}

A:hover {
	COLOR: #0000ff;
	TEXT-DECORATION: underLine;
}

A.OpenWinLink:hover {
	COLOR: #004779;
	TEXT-DECORATION: none;
}

body {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 12px;
	font-family: arial, 宋体, sans-serif;
	/*scrollbar-base-color: #dbecf8;
	scrollbar-arrow-color: #2a8ed1;
	scrollbar-track-color: #bdddf2;
	scrollbar-3dlight-color: #2886c5;
	scrollbar-darkshadow-color: #2886c5;
	scrollbar-face-color: #dbecf8;
	scrollbar-shadow-color: #dbecf8;*/
	margin:0px 1px;
	text-align: center; 
}
select{font-size:14px;	}
ul {list-style-type: none;}

form {margin: 0px;padding: 0px;}
input.btn{
	border:solid 1px #666;
	border-left:solid 1px #ccc; 
	border-top:solid 1px #ccc;
	background:#eee;
	cursor:pointer;
	height:25px;
	font-size:12pt;
	text-align: center;
	width:100px;
	margin:5px;
}

input.btn2{
	border:solid 1px #666;
	border-left:solid 1px #ccc; 
	border-top:solid 1px #ccc;
	background:#eee;
	cursor:pointer;
	height:22px;
	font-size:10pt;
	text-align: center;
	width:50px;
	margin:0px;
	padding:0px;
}

input.btn::-moz-focus-inner{ border:0; padding:0; margin:0; }
input.btn2::-moz-focus-inner{ border:0; padding:0; margin:0; }
input.L2{width:35px;}
input.L4{width:64px;}
input.L5{width:80px;}
input.L6{width:90px;}
input.L7{width:105px;}
input.L8{width:120px;}
input.L9{width:129px;}
input.L10{width:139px;}
input.L11{width:150px;}
input.L12{width:164px;}
.main td,table{
	padding:0px 3px;
	border-left:none;
	border-right:none;
	border-top:none;
	font-size:14px;
}
.inner td{
	padding:3px;
	border-left:1px #000000 solid;
	border-right:1px #000000 solid;
}
tr.title{
    background-color:#CCCCCC;
    vertical-align:middle;
    border-top:thin;
    border-top-color:#000000;
    text-align: center;
}
table{
	margin-top:5px;	font-size:14px;	BORDER-COLLAPSE:collapse; word-wrap:break-word;word-break: break-all;
}
div{font-size:14px;}
.page{
	border-bottom: 1px white solid;
}
tr.hidden,table.hidden{
	display:none;
	border-top: 1px white solid;
	border-bottom: 1px white solid;
}