@CHARSET "UTF-8";
.pagination {
	margin-top:0px;
	font-size: 12px;
	font-family: Arial,宋体;
}
.pagination a {
	text-decoration: none;
	border: solid 1px #999;
	color: #000000;
}
.pagination a,.pagination span {
	display: inline;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
	min-width: 1em;
	text-align: center;
}
.pagination .current {
	background: #dddddd;
	color: #000000;
	border: solid 1px #000000;
	font-weight: bolder;
}
.pagination .current.prev,.pagination .current.next {
	color: #000000;
	border-color: #999;
	background: #fff;
	margin-right: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}